:root {
	--file-input-w: 320px;
}

.file_input {
	display: flex;
	flex-direction: column;
	row-gap: 0;
	margin: 0 auto;
	width: fit-content;
}

#drop_zone {
	border: 1px solid #c7c7c7;
	border-radius: 3px 3px 0 0;
	border-bottom: none;
	width: var(--file-input-w);
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#drop_zone div {
	text-align: center;
}

#drop_zone div p:first-child {
	font-weight: var(--font-semi-bold);
	color: var(--text-color);
}

#drop_zone div p:last-child {
	color: var(--first-color-light);
}

.field__wrapper {
	width: var(--file-input-w);
	position: relative;
	display: flex;
	text-align: center;
}

.field__file {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.field__file-wrapper {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.field__file-fake {
	height: 40px;
	width: 160px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 15px;
	border: 1px solid #c7c7c7;
	border-radius: 0 0 0 3px;
	border-right: none;
}

.field__file-button {
	width: 160px;
	height: 40px;
	background: var(--first-color);
	color: #fff;
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 0 0 3px 0;
	cursor: pointer;
}
