.save-btn {
	padding: 0.85rem 1.7rem;
	border-radius: 0.25rem;

	font-size: var(--normal-font-size);
	font-weight: var(--font-semi-bold);
	color: white;
	background-color: var(--first-color);
}

.save-btn:hover {
	opacity: 0.9;
}
