.save-btn {
	padding: 0.85rem 1.7rem;
	border-radius: 0.25rem;

	font-size: var(--normal-font-size);
	font-weight: var(--font-semi-bold);
	color: white;
	background-color: var(--first-color);
}

.save-btn:hover {
	background-color: var(--first-color-alt);
	box-shadow: 1px 1px 4px hsla(var(--hue), 24%, 15%, 0.1),
		-1px -1px 4px hsla(var(--hue), 24%, 15%, 0.1);
}

.my-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	padding-top: 5rem;
	z-index: 1001;
}

.my-modal .my-modal-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	padding: 2rem;
	width: 400px;
	border-radius: 5px;
	background: #fff;
	height: 200px;
	z-index: 1002;
}
